* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    --gold: #c0a756
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.body-home {
    background-image: url(assets/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: end;
    height: 75px;
    padding: 1rem 5rem;
    gap: 4rem;
}

button {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    color: var(--gold);
}

.content-home {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.logo {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.content-home p {
    color: white;
    font-size: 3rem;
}

.nav-home {
    background-color: rgb(0, 0, 0, 0.6);
}

.button-home {
    color: white;
}

.button-menu,
.button-about {
    color: grey;
}

.nav-menu,
.nav-about {
    background-color: white;
    box-shadow: var(--shadow);
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    text-align: center;
    gap: 2rem;
}

.intro p {
    width: 800px;
    color: grey;
}

.container {
    display: flex;
    flex: 1;
}

.container .right {
    display: flex;
    align-items: center;
    flex: 1;
}

.container .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 1rem;
    gap: 1rem;
}

.container .left p{
    width: 600px;
    line-height: 2;
}

.container .left h1{
    color: var(--gold);
}

.content-about {
    display: flex;
    flex-direction: column;
    flex: 1;
}